Node-Red CSV Ver
[
    {
        "id": "2ac05c280cea9a2a",
        "type": "tab",
        "label": "Sensor Dasboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5a2745126bbfdaf7",
        "type": "debug",
        "z": "2ac05c280cea9a2a",
        "name": "function debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 60,
        "wires": []
    },
    {
        "id": "8d127304116aca7c",
        "type": "serial in",
        "z": "2ac05c280cea9a2a",
        "name": "",
        "serial": "70e090912f474ddb",
        "x": 70,
        "y": 200,
        "wires": [
            [
                "58f853100efaf9bb"
            ]
        ]
    },
    {
        "id": "efaa42ef8fb57ca8",
        "type": "ui_text",
        "z": "2ac05c280cea9a2a",
        "group": "dashboard_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "pH",
        "format": "{{msg.payload.PH}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "522370d601211d4b",
        "type": "ui_text",
        "z": "2ac05c280cea9a2a",
        "group": "dashboard_group",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dissolved Oxygen",
        "format": "{{msg.payload.DO}} mg/L",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "97d9dab9b7f071d4",
        "type": "ui_text",
        "z": "2ac05c280cea9a2a",
        "group": "dashboard_group",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Electrical Conductivity",
        "format": "{{msg.payload.EC}} µS/cm",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "58f853100efaf9bb",
        "type": "csv",
        "z": "2ac05c280cea9a2a",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": false,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "f0938713b039ff89",
                "ad5d1d21164c0b21"
            ]
        ]
    },
    {
        "id": "f0938713b039ff89",
        "type": "function",
        "z": "2ac05c280cea9a2a",
        "name": "function 2",
        "func": "var readings = msg.payload;\nmsg.payload = {\n    DO: readings.col1,\n    EC: readings.col2,\n    PH: readings.col3\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "5a2745126bbfdaf7",
                "522370d601211d4b",
                "97d9dab9b7f071d4",
                "efaa42ef8fb57ca8"
            ]
        ]
    },
    {
        "id": "ad5d1d21164c0b21",
        "type": "debug",
        "z": "2ac05c280cea9a2a",
        "name": "csv debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 280,
        "wires": []
    },
    {
        "id": "70e090912f474ddb",
        "type": "serial-port",
        "name": "COM8 - 9600",
        "serialport": "COM8",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Sensor Readings",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    }
]
